* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat;
  src: url(../assets/Fonts/Montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: Playfair_Display;
  src: url(../assets/Fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}
.footer {
  font-family: Montserrat;
  font-size: small;
  background-color: black;
  height: 150vw;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footer__description {
  width: 90%;
}
.footer h2 {
  font-family: Playfair_Display;
}
.footer a {
  color: white;
  opacity: 0.8;
}
.footer .arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
  margin-bottom: 1px;
}
.footer .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.footer__responsive {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
}
.footer__menu {
  width: 33%;
  font-weight: 900;
  font-family: Playfair_Display;
}
.footer__menu--sublist {
  font-family: Montserrat;
  font-weight: 100;
  display: none;
  flex-direction: column;
}
.footer__menu--sublist li {
  padding: 1vw;
}
.footer__menu--sublist li a:hover {
  text-decoration: underline;
}
.footer .open .footer__menu--sublist {
  display: flex;
  animation: opacity 0.3s linear 0s 1 normal forwards;
}
.footer .open .footer__menu--sublist {
  display: flex;
  animation: opacity 0.3s linear 0s 1 normal forwards;
}
.footer .open li .arrow {
  animation: rotation 0.2s linear 0s 1 normal forwards;
}
.footer__icons {
  display: flex;
  justify-content: space-around;
  width: 90%;
}
.footer__icons li {
  width: 10vw;
  height: 10vw;
}
.footer__icons li:hover {
  opacity: 0.3;
}
.footer__icons li img {
  width: 100%;
  height: 100%;
}
.footer hr {
  width: 100%;
}
.footer__privacy {
  width: 90%;
  font-family: Montserrat;
  font-size: smaller;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 50vw;
  }
  .footer .arrow {
    display: none;
  }
  .footer .contact {
    text-align: left;
  }
  .footer__menu {
    width: auto;
  }
  .footer__menu--sublist {
    display: flex;
  }
  .footer__menu--sublist .email {
    background-image: url("../assets/icons/e-mail.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: left;
  }
  .footer__menu--sublist .phone {
    background-image: url("../assets/icons/appel-telephonique.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: left;
  }
  .footer__menu--sublist .Careers {
    background-image: url("../assets/icons/study.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: left;
  }
  .footer__menu--sublist .FAQ {
    background-image: url("../assets/icons/faq.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: left;
  }
  .footer__menu--sublist .city {
    background-image: url("../assets/icons/map.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: left;
  }
  .footer__menu--sublist li {
    text-align: left;
    padding: 0.5vw 2vw;
  }
  .footer__icons li {
    width: 3vw;
    height: 3vw;
  }
}
@media screen and (min-width: 1048px) {
  .footer {
    height: 35vw;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(224deg);
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=footer.css.map */