*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    height: 10vh;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.catégorie{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: fit-content;
    .list_button{
        width: fit-content;
        --underline-width: 0;
        --underline-offset-x: 0;
        --underline-offset-y: 0;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 70%;
            display: block;
            height: 4px;
            background-color: black;
            width: var(--underline-width);
            transform: translate(var(--underline-offset-x),var(--underline-offset-y));
            //transform: translateX(var(--underline-offset-x));
            transition: transform 0.5s, width 0.5s;
        }

        .button{
            border: none;
            color: black;
            background-color: white;
            text-align: center;
            font-weight: bold;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            padding: 1vw;
            cursor: pointer;
        }
    }
}