html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair display", serif;
}

button {
  cursor: pointer;
  font: inherit;
}

img {
  object-fit: cover;
  width: 100%;
}

.btn {
  background: none;
  border: none;
}

.meals {
  margin: 0 auto;
  margin-bottom: 42px;
  max-width: 1440px;
  padding-top: 30px;
  width: 95%;
}

.meals__categories {
  font-size: clamp(14px, 1vw + 0.5rem, 18px);
  overflow-x: scroll;
}
.meals__categories .meals__categories__category {
  flex-shrink: 0;
}

.meals__categories,
.meal-card__cart-info {
  display: flex;
  font-weight: 500;
  gap: 10px;
  list-style: none;
}

.meals__heading {
  font-size: clamp(20px, 1.5vw + 1rem, 40px);
  padding-left: 10px;
}

.meals__categories {
  background-color: #fff;
  padding: 1em 10px;
  position: sticky;
  top: 0;
}
.meals__categories .meals__filter-btn:hover {
  opacity: 0.6;
}

.meals__categories.underline {
  width: fit-content;
  --underline-width: 0;
  --underline-offset-x: 0;
  position: relative;
}
.meals__categories.underline::before {
  content: "";
  position: absolute;
  top: 70%;
  display: block;
  height: 4px;
  background-color: black;
  width: var(--underline-width);
  transform: translateX(var(--underline-offset-x));
  transition: transform 0.5s, width 0.5s;
}

.meal-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 28px;
  padding: 0 10px;
}

.meal-card {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  width: 98%;
}
.meal-card.hide {
  display: none;
}

.meal-card__header {
  height: clamp(163px, 10vw, 192px);
}
.meal-card__header img {
  height: 100%;
}

.meal-card__body {
  flex-grow: 1;
  padding: 7px;
}
.meal-card__body .meal-card__heading {
  font-size: clamp(15px, 1.5vw + 0.5rem, 21px);
  margin-bottom: 10px;
}
.meal-card__body .meal-card__description {
  font-size: clamp(14px, 1.5vw + 0.5rem, 16px);
  line-height: 1.4em;
}

.meal-card__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  padding: 0 7px 7px 7px;
}
.meal-card__footer .meal-card__price {
  font-weight: 500;
}

@media screen and (min-width: 400px) {
  .meal-card {
    width: 47%;
  }
}
@media screen and (min-width: 480px) {
  .meal-card__body {
    padding: 13px 13px 0 13px;
  }
  .meal-card__footer {
    padding: 0 13px 13px 13px;
  }
}
@media screen and (min-width: 700px) {
  .meal-card {
    width: 30%;
  }
}
@media screen and (min-width: 1024px) {
  .meals {
    margin-bottom: 91px;
  }
}
@media screen and (min-width: 1288px) {
  .meal-cards {
    justify-content: unset;
  }
  .meal-card {
    max-width: 297px;
  }
}
@media screen and (min-width: 1400px) {
  .meal-cards {
    justify-content: unset;
    column-gap: 53px;
  }
  .meal-card {
    max-width: 297px;
  }
}

/*# sourceMappingURL=main.css.map */
