@import "_variables";
// || Reset rules
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

// || General rules
body {
  font-family: $bodyFont;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headingFont;
}

button {
  cursor: pointer;
  font: inherit;
}

img {
  object-fit: cover;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  background: none;
  border: none;
}
//nightmode
.nightmode {
  width: 10vw;
  height: 6vw;
  border-radius: 5vw;
  color: white;
  border: white solid 0.2vw;
  position: absolute;
  top: 5.1vw;
  left: 5vw;
  display: flex;
  &::before {
    content: "";
    position: absolute;
    width: 5vw;
    background-color: white;
    height: 5vw;
    border-radius: 5vw;
    transform: translateY(0.2vw) translateX(0.3vw);
    transition: 0.2s;
  }
}
//nightmode on
.night {
  body {
    color: $whiteDark;
  }
  color: $whiteDark;
  background-color: $darkBlue;
  .nightmode {
    &::before {
      transform: translateY(0.2vw) translateX(4.3vw);
    }
  }
  a {
    background-color: white;
  }
  .main-header .main-nav .main-menu li {
    color: $whiteDark;
    a {
      background-color: white;
    }
    &:hover {
      color: $whiteDark;
    }
  }
  .order {
    background-color: $darkBlue;
    color: $whiteDark;
    &:hover {
      color: $whiteDark;
    }
  }
  footer {
    background-color: $veryDarkBlue;
  }
  .meal-card {
    background-color: $lightBlue;
  }
  .meals__categories {
    background-color: $darkBlue;
  }
  .meals__filter-btn {
    color: $whiteDark;
  }
  .footer__responsive a {
    background-color: $veryDarkBlue;
  }
  #add-to-cart-btn {
    color: $whiteDark;
  }
  #remove-from-cart-btn {
    color: $whiteDark;
  }
  .menu div {
    background-color: $whiteDark;
  }
  .menu::before {
    background-color: $whiteDark;
  }
  .menu::after {
    background-color: $whiteDark;
  }
  .main-header .main-nav {
    background-color: $veryDarkBlue;
    transition: 0s;
  }
  footer a {
    background-color: $veryDarkBlue;
  }
  .intro .kitchen_container a {
    background-color: $lightBlue;
  }
  .meals__categories.underline::before {
    background-color: $whiteDark;
  }
}
@media screen and (min-width: 768px) {
  .nightmode {
    position: static;
    width: 2.7vw;
    height: 1.5vw;
    border: $darkGrey solid 0.1vw;
    top: 1.3vw;
    left: 33vw;
    &::before {
      width: 1.25vw;
      background-color: $darkGrey;
      height: 1.25vw;
      border-radius: 5vw;
      transform: translateY(0.03vw) translateX(0.05vw);
      transition: 0.2s;
    }
  }
  .night {
    .main-header .main-nav {
      background-color: $darkBlue;
      transition: 0s;
    }
    .nightmode {
      border: $whiteDark solid 0.1vw;
      &::before {
        background-color: $whiteDark;
        transform: translateY(0.03vw) translateX(1.2vw);
        transition: 0.2s;
      }
    }
  }
}
