.meals{
    margin: 0 auto;
    margin-bottom: 42px;
    max-width: 1440px;
    padding-top: 30px;
    width: 95%;
}


.meals__categories,
.meal-card__cart-info{
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    gap: 10px; 
    list-style: none;
}

.meals__heading{
    font-size: clamp(20px, calc(1.5vw + 1rem),40px);
}

.meals__categories{
    background-color: #fff;
    padding: 1em 0;
    position: sticky;
    top: 0;

    .meals__filter-btn{
        &:hover{
            opacity: 0.6;
        }
    }
}

.meal-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
}

.meal-card{
    background-color: $lightGray;
    display: flex;
    flex-direction: column;
    max-width: 297px;
    width: 163px;
    &.hide{
        display: none;
    }
}

.meal-card__header{
    height: clamp(163px, 10vw, 192px);
    img {
        height: 100%;
    }
}

.meal-card__body{
    flex-grow: 1;
    padding: 7px;
    .meal-card__heading{
        font-size: clamp(15px, calc(1.5vw + 0.5rem),21px);
        margin-bottom: 10px;
    }

    .meal-card__description{
        font-size: clamp(14px, calc(1.5vw + 0.5rem) ,16px);
        line-height: 1.4em;
    }

}

.meal-card__footer{
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    padding: 0 7px 7px 7px;

    .meal-card__price{
        font-weight: 500;
    }
}

@media screen and (min-width: 400px) {
    .meal-card{
        width: 45%;
    }
}

@media screen and (min-width: 480px) {

    .meal-card__body{
        padding: 13px 13px 0 13px;
    }

    .meal-card__footer{
        padding: 0 13px 13px 13px;
    }
}

@media screen and (min-width: 1024px) {
    .meals{
        margin-bottom: 91px;
    }
}