// Colors

// light mode

$white :#FFFFFF;
$lightGray: #F2F2F2;
$darkGrey: #1E1E1E;
$black: #000000;

//  dark mode:

$whiteDark :#F2F2F2;
$lightBlue:  #112452;
$darkBlue:#000534;
$veryDarkBlue:#000E3A;

// Font Stack
$bodyFont: "Montserrat", sans-serif;
$headingFont: "Playfair display", serif;





